docker.enabled = true

process {

    container = 'rnaseq-preprocessing'

    withName: DOWNLOAD_SRA {
        cpus = 8
        memory = '16 GB'
    }

    withName: FASTQC_RAW {
        cpus = 4
        memory = '4 GB'
    }

    withName: FASTQC_TRIMMED {
        cpus = 4
        memory = '4 GB'
    }

    withName: FASTP {
        cpus = 8
        memory = '8 GB'
    }

    withName: MULTIQC {
        cpus = 2
        memory = '2 GB'
    }
}
